<!-- public IdM:number,
public AddressX:number,
public  AdressY:number, 
public AdressDsc:string, 
public  hourM:Date,
public  IdPrayer:number ,
public  IdGabai :number,
public CantorM :boolean,
public  BeginDateM :Date,
public  EndDateM:Date ,
public  ConstUnConstM:boolean ,
public  NumOfPeople:number, -->







<input name="name" class="form-control" type="text" placeholder="שם" [(ngModel)]="user.NameU" id="nameRegister"><br />
<form>
  <input type="text" name="addressX" placeholder="מיקום על ציר ה-x" [(ngModel)]="minyan.AddressX" id=addressXM>
  <input type="text" name="addressY" placeholder="מיקום על ציר ה-y" [(ngModel)]="minyan.AdressY" id=addressYM>
  <input type="text" name="addressDescribe" placeholder="תאור מקום" [(ngModel)]="minyan.AdressDsc"id="addressdesc">
  <input type="text" name="hour" placeholder="שעה" [(ngModel)]="minyan.hourM"id="hour">
  <input type="text" name="i" placeholder="תאור מקום" [(ngModel)]="minyan.AdressDsc"id="addressdesc">
  //combo box 
</form>