<p>register</p>
<form #Myform="ngForm" (ngSubmit)="Register()">
    <div class="form-group">
        <label>הכנס את פרטיך</label><br />
        <input name="name" class="form-control" type="text" placeholder="שם" [(ngModel)]="user.NameU" id="nameRegister"><br />
        <input name="email" class="form-control" required #mm="ngModel" type="email" placeholder="מייל" [(ngModel)]="user.MailU" id="emailRegister"><br />
     
        <input name="pass" class="form-control" #pass="ngModel" type="password" placeholder="סיסמא" [(ngModel)]="user.PasswordU" id="passwordRegister"><br />
    <div *ngIf="!mm.valid">dgffdg</div>
        <input name="tel" class="form-control" type="tel" placeholder="טלפון" [(ngModel)]="user.PhoneU" id="phoneRegister"><br />
        <input name="IsGAbay" type="checkbox" class="form-check-input" [(ngModel)]="StatusGabay" id="isGabayRegister">
        <label class="form-check-label" for="exampleCheck1">גבאי</label><br />
        <button type="submit"[disabled]="!Myform.valid"  id="submitRegister" class="btn btn-primary" >הרשם</button>
    </div>
</form>
{{Myform.value|json}}
{{pass.valid}}
{{user}}